* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #343541;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.container{
  background-color: #444654;
  width: 350px;
  padding:20px;
  border-radius: 8px;
  border: 1px solid #565869;
  color: #ececf1;
}
.textbox{
  display: flex;
  border:1px solid #565869;
  border-radius: 6px;
  height: 50px;
  overflow: hidden;
  background: #343541;
}
.textbox input{
  flex:1;
  width: 100%;
  border:none;
  font-size: 18px;
  padding:10px;
  outline: none;
  background: #343541;
  color: #ececf1;
}
.image{
  cursor:pointer;
}
.image img{
  width:30px;
  height: 25px;
  margin-top: 10px;
  margin-right: 7px;
}
.temperature,
.city,
.country{
text-align: center;
padding: 5px;
font-size: 35px;
text-transform: uppercase;
}
.city{
  color: #10a37f;
}
.country{
  color: #c5c5d2;
  margin-bottom: 10px
}
.temperature{
  font-size: 25px;
  color: #ececf1;
}
.latlon{
  display: flex;
  gap:20px;
  text-align: center;
  justify-content: center;
}
.long{
  display: flex;
  flex-direction: column;
}
.lat{
  display: flex;
  flex-direction: column;
}
.humwind{
  display: flex;
  justify-content: space-between;
}
.images{
  text-align: center;
  height: 150px;
  margin-bottom: 10px;
  
}
.images img {
  width:150px;
  height: 160px;
}
.loading,
.error,
.cityNotFound{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c5c5d2;
  padding: 3px;
  margin-top: 20px;
}
.super{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: #10a37f;
  font-family:Georgia, 'Times New Roman', Times, serif;


}